<html>
<body>
<form action= "{{url_for('editProductItem', ProductCatagory_id = ProductCatagory_id, Product_id=item.id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'>

<input type='submit' value='Edit'>

<p>Description:</p>
<input type = 'text' size='30' name = 'description' placeholder = '{{item.description}}'>

<input type='submit' value='Edit'>

<p>Price:</p>
<input type = 'text' size='30' name = 'price' placeholder = '{{item.price}}'>

<input type='submit' value='Edit'>

</form>
<a href= "{{url_for('ProductCat', ProductCatagory_id= item.ProductCatagory_id)}}">Cancel</a>
</body>
</html>
