<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>

<h1>Everything Store</h1>

<div>
	<a class="nav-link" href="{{url_for('showLogin') }}">
              <button class="btn btn-outline-success">Login Here</button>
            </a>
</div>

<div>
              <a href="{{url_for('addCategory')}}">
                <button type="button" class="btn btn-secondary">Add Category</button>
              </a>
            </div>


{% for cat in catagories %}

<div>


<a href='{{url_for('allCategory', category_name = cat.name) }}'>{{cat.name}}</a>
<a href = '{{url_for('deleteCatagory', ProductCatagory_id = cat.name) }}'>Delete</a>

</div>
{% endfor %}

<div class="col-md-2">
	<a href="{{url_for('addItem')}}">
		<button type="button" class="tn btn-outline-success btn-sm">Add Item</button>
	</a>
</div>

{% for i in items %}
<div>
<a href='{{url_for('ProdDesc', category_name=i.ProductCatagory.name, item_name=i.name) }}'>{{i.name}}</a>
<a href="{{url_for('editItem', category_name=i.ProductCatagory.name, item_name=i.name)}}">
	<button type="button" class="tn btn-outline-success btn-sm">Edit Item</button>

</div>
{% endfor %}



</body>

</html>
