<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>

<h1>{{productcatagory.name}}</h1>

<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href='{{url_for('newProductItem', ProductCatagory_id = productcatagory.id) }}'>New_Item</a>

{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>

<p> {{i.price}} </p>

<a href='{{url_for('editProductItem', ProductCatagory_id = productcatagory.id, Product_id = i.id) }}'>Edit</a>

</br>
<a href = '{{url_for('deleteProductItem', ProductCatagory_id = productcatagory.id, Product_id = i.id ) }}'>Delete</a>

</div>


{% endfor %}
</body>

</html>
